.mat-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .mat-card {
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    margin: 0 1rem 1rem 1rem;

    .mat-card-header {
      flex: 0 0 auto;
    }

    .mat-card-content {
      flex: 1 1 auto;
    }

    .mat-card-actions {
      display: flex;
      flex: 0 0 auto;
      justify-content: space-around;
    }
  }
}
