<section class="container" *ngIf="(shows$ | async) as shows">
  <div class="mat-card-container" *ngIf="shows.length else addShow">
    <mat-card *ngFor="let show of shows">
      <mat-card-header>
        <mat-card-title>{{show.piece?.title}}</mat-card-title>
        <mat-card-subtitle>{{show.date | firestoreDate:'dd/MM/yyyy'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{show.piece?.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Réserver</button>
        <button mat-button color="accent">Modifier</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="flex action">
    <button mat-raised-button color="primary" (click)="createShow()">Ajouter un spectacle</button>
  </div>
</section>
<ng-template #addShow>
  <h3>Aucun spectacle de prévu actuellement, veuillez en créer un nouveau</h3>
</ng-template>
