<div class="container">
  <div class="logos">
    <img alt="Logo calligramme" src="assets/logo_theatre2.png"/>
  </div>

  <div class="presentation">
    <h2>
      Bienvenue sur la plateforme de réservation Calligramme
    </h2>

    <p>
      Cette plateforme nous permet de réserver vos places de spectacles.
    </p>

    <p>
      Nous vous remercions de bien vouloir vous connecter puis de renseigner le formulaire de réservation prévu à cet effet.
    </p>
  </div>
  <p>
    <img (click)="signIn()" src="assets/btn_google_signin_light_normal_web.png" alt="Connexion" title="Connexion" />
  </p>
</div>
