<section class="container">
  <h1>Ajouter un nouveau spectacle</h1>
  <form class="flex-col form-create" [formGroup]="showFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Date de la représentation</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dateControl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="flex-row form-select">
      <mat-form-field>
        <mat-label>Sélectionner la pièce</mat-label>
        <mat-select [formControl]="pieceCtrl">
          <mat-option [value]="null">-</mat-option>
          <mat-option *ngFor="let piece of pieces$ | async" [value]="piece">{{piece.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="add-button">
        <button mat-mini-fab color="primary" (click)="showAdd(true, null, pieceCtrl)" *ngIf="!selectPieceDisabled">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="showAdd(false,null,pieceCtrl)" *ngIf="selectPieceDisabled">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="selectPieceDisabled" class="flex-col">
      <mat-form-field>
        <mat-label>Titre de la pièce</mat-label>
        <input matInput type="text" [formControl]="pieceTitleCtrl">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="pieceDescriptionCtrl"></textarea>
      </mat-form-field>
    </div>
    <div class="flex-row form-select">
      <mat-form-field>
        <mat-label>Sélectionner le théâtre</mat-label>
        <mat-select [formControl]="theaterCtrl">
          <mat-option [value]="null">-</mat-option>
          <mat-option *ngFor="let theater of theater$ | async" [value]="theater">{{theater.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="add-button">
        <button mat-mini-fab color="primary" (click)="showAdd(null, true, theaterCtrl)" *ngIf="!selectTheaterDisabled">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="showAdd(null, false, theaterCtrl)" *ngIf="selectTheaterDisabled">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="selectTheaterDisabled" class="flex-col">
      <mat-form-field>
        <mat-label>Nom de la salle</mat-label>
        <input matInput [formControl]="theaterNameCtrl">
      </mat-form-field>
    </div>
    <div class="flex action">
      <button mat-raised-button color="primary" type="submit" [disabled]="showFormGroup.invalid">Enregister</button>
    </div>
  </form>
</section>
<footer>{{showFormGroup.value | json}}</footer>
